# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Submission files
studies/submission_files/*
!studies/submission_files/.gitkeep

# Scans
studies/scans/*
!studies/scans/.gitkeep
!studies/scans/**/da.parquet
#!studies/scans/*/

# Heavy file
*.json
*.parquet

# AFS files
.__afs*

# Python virtual environment
.venv/

#vscode config
.vscode/

